
/* heading styles */

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 15pt;
}

h4 {
    font-size: 13pt;
}

h5 {
    font-size: 11pt;
}


/* table-counter */

table {
    counter-increment: table-counter;
    caption-side: bottom;
}

caption {
    min-width: 300px;
    font-style: italic;
    text-align: left;
}

caption:before {
    content: "Table " counter(table-counter) ": ";
}

/* image counters */

.image-container {
    counter-increment: image-counter; 
}

.image-caption-with-title {
    display: none;
}

.image-caption-with-description {
    display: block;
}

.image-caption-with-description:before {
    content: "Figure " counter(image-counter) ": ";
}

/* links to document top */

div.document-top {
    margin-top: 1em;
    margin-bottom: 1em;
}

a.document-top:after {
    content: "Back to top";
}

/* hide generated table of contents placeholder */
#toc,
#table-of-contents-heading {
    display: none;
}


/* Render footnotes as superscript text*/
.footnoteText {
    color: blue;
    text-decoration: underline;
    font-size: 10px;
    vertical-align: super;
    background: none;
}

.footnoteText:after,
.footnoteText:before {
    display: none;
}

#images-list {
    display: none;
}

#table-list {
    display: none;
}

.warning-no-description,
.warning-no-title {
    color: red;
}

.warning-no-description:before,
.warning-no-title:before {
    content: " (Warning: ";
}

.warning-no-description:after,
.warning-no-title:after{
    content: ") ";
}

.index-term {
    text-decoration: none;
}

/* Hide before/after text for .reference-XXX classes */

.index-term:before,
.reference-listitem:before,
.reference-table:before,
.reference-heading:before,
.reference-image:before 
{ 
    content: ""; 
}

.index-term:after,
.reference-listitem:after,
.reference-table:after,
.reference-heading:after,
.reference-image:after 
{ 
    content: ""; 
}

.reference-listitem,
.reference-table,
.reference-heading,
.reference-image
{ 
    font-style: normal;
    background:  transparent url(++resource++zopyx.authoring/link_ext.gif) center left no-repeat;
    padding-left: 14px;
}

.unresolved-link {
    text-decoration: line-through;
    color: red;
}

