div.contentinfo {
    display: none;
}

.table-of-contents {
    float: right; 
    border: 1px solid #dddddd; 
    padding: 1em; 
    margin-left: 1em; 
    width: 200px;
}

.table-of-contents .level-1 {
    margin-left: 0em;
}

.table-of-contents .level-2 {
    margin-left: 1em;
    clear: both;
}

.table-of-contents .level-3 {
    margin-left: 2.0em;
}

/* table caption */

caption::before {
    content: "Table ";
}


.image-caption {
    text-decoration: none;
    font-style: italic;
    text-decoration: none;
}


.footnoteText {
    font-style:italic;
    background: #eeeeee;
}

.footnoteText::before {
    content: "(Footnote: ";
}

.footnoteText::after {
    content: ")";
}

.reference-listitem,
.reference-image,
.reference-table,
.reference-heading {
    font-style: italic;
    font-family: Arial, Sans-Serif;
    background: #eeeeee;
}


.reference-listitem:before {
    content: "(List-item reference: ";
}

.reference-image:before {
    content: "(Image reference: ";
}

.reference-table:before {
    content: "(Table reference: ";
}

.reference-heading:before {
    content: "(Heading reference: ";
}

.reference-listitem:after,
.reference-image:after,
.reference-table:after,
.reference-heading:after {
    content: ")";
}

.comment::before {
    content: "(Comment: ";
}

.comment::after {
    content: ")";
}

.comment {
    background: #dddddd;
}

.index-term:before {
    content: "(Index: ";
    font-style: italic;
}

.index-term {
    text-decoration: underline;
}

.index-term:after {
    content: ") ";
}

/*
h1:before {
  color: red;
  content: "H1: ";
}


h2:before {
  color: red;
  content: "H2: ";
}

h3:before {
  color: red;
  content: "H3: ";
}


h4:before {
  color: red;
  content: "H4: ";
}

h5:before {
  color: red;
  content: "H5: ";
}
*/

.code-inline {
    font-family: "Courier New";
}

.code-block {
    font-family: "Courier New";
    border-left: 1px solid grey;
    padding-left: 1em;
}

.zopyx-authoring-copyright {
    font-size: 9px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 3px;
    padding-bottom: 3px;
}

.pdf {
    border-top: 1px solid #dddddd;
}

.key-label {
    font-weight: bold;
}

.formHelp {
    padding-bottom: 1em;
    font-size: 80%;
    color: #777777;
}

#zopyx-authoring-promotion {
    float: right;
}

#zopyx-authoring-promotion {
    text-align: center;
}

/* Authoring template view */

#authoring-template {
    width: 100%;
}

#authoring-template td {
    vertical-align: top;
}

#authoring-template th {
    text-align: left;
}

.non-consolidated-title {
    display: none;
}

.conversion-table {
    margin-bottom: 20px;
}

.conversion-table TH {
    font-size:10pt;
    color:white;
}

.conversion-table th,
.conversion-table td {  
    font-size:10pt;
    background-color:#eeeeee;
    border-color: #aaaaaa;
    color: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 30px;
    text-align: left;
}

.conversion-table tr:nth-child(even) td{
    background-color:#dddddd;
}

#conversion-published-contents,
#conversion-draft-contents {
    margin-top: 1em;
}

#conversion-published-contents td,
#conversion-draft-contents td {
    font-size: 90%;
}

table#conversion-parameters-small,
table#conversion-parameters {
    width: 100%;
    margin-bottom: 1em;
}

#conversion-options label {
}

/* select list in edit view of the conversion folder */
td#select-list {
    padding-left: 1em;
}

#select-list input {
    width: 160px;
    margin-bottom: 5px;
    font-size: 80%;
    display: block;
}

#debug-options {
    width: 100%;
    text-align: left;
    font-size: 90%;
}

#debug-levels {
    margin-bottom: 1em;
}

#debug-levels .title {
    font-weight: bold;
    background: #eeeeee;
}

#debug-levels .level-0 {
    margin-left: 0em;
}

#debug-levels .level-1 {
    margin-left: 1em;
}

#debug-levels .level-2 {
    margin-left: 2em;
}

#debug-levels .level-3 {
    margin-left: 4em;
}

#debug-levels .level-4 {
    margin-left: 6em;
}

#debug-levels .level-5 {
    margin-left: 8em;
}

#content a.back-to-top {
    border-bottom: 0;
}

.back-to-top {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* table of contents portlet */

.toc-table {
    margin: 0;
    padding: 3px;
    font-size: 90%;
    width: 270px;
    margin-bottom: 0.5em;
}

.toc-index {
    text-align: right;
    width: 1px;
}


.toc-text-1 {
    word-wrap: break-word;
    padding-left: 0em;
    font-weight: bold;
}

.toc-text-2 {
    word-wrap: break-word;
    padding-left: 1em;
}

.toc-text-3 {
    word-wrap: break-word;
    padding-left: 2em;
}

.toc-text-4 {
    word-wrap: break-word;
    padding-left: 3em;
}

.toc-text-5 {
    word-wrap: break-word;
    padding-left: 4em;
}


dl.portlet .toc-table a:link {
    text-decoration: none;
    color: black;
    border: 0;
    border-bottom: 0px;
}

.toc-document {
    margin-bottom: 0.5em;
}

th.toc-document   {
    text-align: left;
    font-weight: bold;
    padding-bottom: 3px;
}

.toc-table-active  {
    background: #fafafa;
    border: 1px dashed grey;
}

#plone-contentmenu-factories a.authoringpublisheddocument {
    display: none;
    color: blue;
}

.EDITOR {
    color: blue;
}

#options1 td, 
#options2 td {
    padding-bottom: 1em;
}

#html-pdf-options td {
    vertical-align: center;
}

#html-pdf-options .sep  {
    padding-bottom: 1em;
    margin: 1em;
}

#html-pdf-options .col1, 
#html-pdf-options .col3 {
    width: 15px;
}

#html-pdf-options .col4, 
#html-pdf-options .col2 {
    width: 300px;
}

#html-pdf-options td.sep {
    margin: 1em;
}

#content pre {
    background: #eeeeee;
    color: black;
}

.portletPublishedContent .epub,
.portletPublishedContent .download,
.portletPublishedContent .mailto,
.portletPublishedContent .s5 {
    margin-top: 1em;
}

#fieldset-dates {
    color: blue;
    display: none;
}

.preflightWarning {
    color: red;
    font-weight: bold;
}

#debug-images .src {
    display: block;
    word-wrap: break-word; 
    width: 180px;
    overflow: auto;    
}

#debug-images .title {
    font-weight: bold;
    font-size: 90%;
    color: #aaaaaa;
}

#debug-images .description {
    font-size: 80%;
    color: #aaaaaa;
}

#debug-preflight .preflightOk,
#debug-images .preflightOk,
#debug-levels .structure-ok, 
#debug-anchors .link-found {
    background:  transparent url(++resource++zopyx.authoring/ok_icon.gif) center left no-repeat;
    padding-left: 20px;
}

.preflightWarning,
#debug-levels .structural-error, 
#debug-anchors .link-not-found {
    padding-left: 20px;
    background:  transparent url(++resource++zopyx.authoring/exclamation-mark.gif) center left no-repeat;
}

#debug-levels th,
#debug-images th,
#debug-anchors th {
    text-align: center;
}

#debug-images td.image {
    text-align: center;
}

#debug-images .image img {
    max-width: 200px;
}

td.center {
    text-align: center;
}
    
#more-conversion-options {
    background:  transparent url(++resource++zopyx.authoring/arrows_down.gif) center left no-repeat;
    padding-left: 20px;
}

#less-conversion-options {
    background:  transparent url(++resource++zopyx.authoring/arrows_up.gif) center left no-repeat;
    padding-left: 20px;
}

.warning {
    background:  transparent url(++resource++zopyx.authoring/exclamation-mark.gif) center left no-repeat;
    padding-left: 40px;
    color: red;
    padding: 1em;
    padding-left: 2em;
    margin-left: 1em;
}


fieldset {
    padding-bottom: 0;
    margin-bottom: 0;
}

div.leftcontent {
    width: 33%;
    float: left;
}

div.centercontent {
    width: 33%;
    float: left;
}

div.rightcontent {
    width: 33%;
    float: right;
}

.formHelp {
    padding-bottom: 0;
}


#contentfolder-importform {
    margin-top: 2em;
}

.image-collapsible .collapser.collapsed,
.form-collapsible .collapser.collapsed {
    padding-right: 14px;
    background: url('++resource++zopyx.authoring/arrowRight.png') center right no-repeat;
}

.image-collapsible .collapser.expanded,
.form-collapsible .collapser.expanded {
    padding-right: 14px;
    background: url('++resource++zopyx.authoring/arrowDown.png') center right no-repeat;
}

.table-popup {
    background:  transparent url(++resource++zopyx.authoring/table_icon.png) center left no-repeat;
    padding-left: 20px;
}


/* My Authoring Portlet */
.portletMyAuthoringProjects ul {
    list-style-type: disc;
    margin-left: 1em;
}

/* ui.multiselect widget */
select#styles {
   height: 300px;
}

#content ul.available,
#content ul.ui-sortable {
    margin-left: 0;
}

#sendForm h1::before {
   content: " ";
}


/* Endnotes */

.endnote-number {
    display: inline !important;
}

.endnote-number:after {
    content: ". ";
}

.endnotes {
    border-top: 1px solid black;
}

#content a.sdendnoteanc {
    border-bottom: none;
}


/* Forms */

.form-row {
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

.form-row label {
    display: block;
    text-weight: bold;
    text-align: right;
    width: 300px;
    float: left;
    margin-right: 1em;
}

.form-control {
    padding-top: 1em;
    margin-left: 310px;
    border-top: 1px solid #dddddd;
}

/* ACE Editor */

#ace-editor { 
    width: 100%
    max-height: 400px;
    height: 400px;
}

/* Authoring Template */

table#resource-files {
    border: 1px solid grey;
}

table#resource-files td,
table#resource-files th {
    border: 1px solid #dddddd;
    vertical-align: top;
    padding: 0.25em;
}

table#resource-files th {
    text-align: center;
    font-weight: bold;
}

#file-details {
    font-size: 0.8em;

}

.preview-image {
    max-width: 100%;
}

#error-information {
    background: red;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
