/* Following are the presentation styles -- edit away! */

body 
{
	background: #FFF url(pics/background-main.png) top left repeat;
	color: #000; font-size: 2em;
/*   	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
  	font-family: Arial, Helvetica, sans-serif;

}

:link, :visited 
{
	text-decoration: none;
	color: white;
}



h1, h2, h3, h4 
{
	font-size: 100%;
	margin: 0;
	padding: 0;
	font-weight: inherit;
}

h1 abbr 
{
	font-variant: small-caps;
}

ul, pre 
{
	margin: 0;
	line-height: 1em;
}

html, body 
{
	margin: 0;
	padding: 0;
}

blockquote, q 
{
	font-style: italic;
}

blockquote 
{
	padding: 0 2em 0.5em;
	margin: 0 1.5em 0.5em;
	text-align: center;
	font-size: 1em;
}

blockquote p 
{
	margin: 0;
}

blockquote i 
{
	font-style: normal;
}

blockquote b 
{
	display: block;
	margin-top: 0.5em;
	font-weight: normal;
	font-size: smaller;
	font-style: normal;
}

blockquote b i 
{
	font-style: italic;
}

kbd 
{
	font-weight: bold;
	font-size: 1em;
}

sup
{
	font-size: smaller;
	line-height: 1px;
}


ul.urls 
{
	list-style: none;
	display: inline;
	margin: 0;
}

.urls li 
{
	display: inline;
	margin: 0;
}

.note 
{
	display: none;
}

.external 
{
	border-bottom: 1px dotted gray;
}

html>body .external 
{
	border-bottom: none;
}

.external:after 
{
	content: " \274F";
	font-size: smaller;
	color: #000;
}

.incremental, .incremental *, .incremental *:after 
{
	color: #000;
	visibility: visible;
}

img.incremental 
{
	visibility: hidden;
}

.slide .current 
{
	color: #000;
}


/* ============== */
/* === SLIDES === */
/* ============== */

.slide code 
{
	padding: 2px 0.25em;
	font-weight: bold;
}

.slide code.bad, code del
{
	color: red;
}

.slide code.old 
{
	color: silver;
}

.slide pre 
{

	color: #ffca00;
	display:block;
	font-weight:bold;
	font-family: Arial, Sans-Serif !important;
	font-size:41.5%;
	line-height:1.5em;
	background:#2e3436 url(pics/back_console.png) right bottom no-repeat ;
	border:5px solid #ccc;
	padding:1em 1em 1em 1em;


}

.slide pre code 
{
	font-family: Arial, Sans-Serif !important;
	display:block;
	margin:0;
	padding:0;
}



.slide ul 
{
	margin-left: 5%;
	margin-right: 7%;
	list-style: disc;
}

.slide li 
{
	margin-top: 0.75em;
	margin-right: 0;
}

.slide ul ul 
{
	line-height: 1;
}

.slide ul ul li 
{
	margin: .2em;
	font-size: 85%;
	list-style: square;
}

.slide img.leader
{
	display: block;
	margin: 0 auto;
}


/* ========================= */
/* === HEADER AND FOOTER === */
/* ========================= */

div#logo
{
	position:absolute;
	top: 20px;
	right: 0px;
 	background:url(custom-logo.png) no-repeat;
	height:100px;
	width:350px;
}

.title-logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto
    width: 70%;
}

div#header {
    color: black;
}

div#footer 
{
	background: #a80231;
	color: #000;
}


div#header 
{
	background:#fff url(pics/background-head.png) bottom left repeat-x;
    color: black;
	line-height: 1px;
}

div#footer 
{
	background:#fcfcfc url(pics/background-foot.png) top left repeat-x;
	font-size: 0.5em;
	font-weight: bold;
	padding: 1em 0;
}





#footer h1, #footer h2 
{
	display: block;
	padding: 0 1em;
}

#footer h2 
{
	font-style: italic;
}



/* ============== */
/* === CLASES === */
/* ============== */

div.long 
{
	font-size: 0.75em;
}

.slide h1 
{
	position: absolute; 
	top: 0.7em;
	left: 14px;
	z-index: 1;
	margin: 0;
	padding: 0.3em 0 0 50px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 150%/1em; 

	text-transform: capitalize;
	color: black;
	background: transparent;
}

.slide h3 
{
	font-size: 130%;
}

/* ================ */
/* === CONTROLS === */
/* ================ */

#controls :active 
{
	color: #000 !important;
}

#controls :focus 
{
	outline: 1px dotted #227;
}

div#controls 
{
	position: absolute; 
	left: 50%; 
	bottom: 0;
	width: 50%;
	text-align: right;
	font: bold 0.9em Verdana, Helvetica, sans-serif;
}

html>body div#controls 
{
	position: fixed; 
	padding: 0 0 1em 0;
	top: auto;
}

div#controls form 
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#controls #navLinks a 
{
	padding: 0;
	margin: 0 0.5em;
/* 	background: #005; */
	background: transparent;
	border: none;
	color: #000;
	cursor: pointer;
}

#controls #navList
{
	height: 1em;
}

#controls #navList #jumplist
{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #eee;
	color: #000;
}

#currentSlide 
{
	text-align: center;
	font-size: 0.6em;
	font-weight:bold;
	color: #000;
}

#slide0 
{
	padding-top: 3.5em;
	font-size: 90%;
}

div.s5line1
{
	position: static;
	font-weight: bold;
	font-size:36px;
	white-space: normal;
	color: #000;
	background: transparent;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
div.s5line2
{
	position: static;
	font-weight: bold;
	font-size:30px;
	white-space: normal;
	color: #000;
	background: transparent;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#slide0 .s5line3,
#slide0 .s5line4 {
    text-align: center;
    font-size: 24px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#slide0 h2 
{
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	margin: 0.25em;
}

#slide0 h3 
{
	margin-top: 1.5em;
	font-size: 1.5em;
}

#slide0 h4 
{
	margin-top: 0;
	font-size: 1em;
}

/* ================ */
/* === JESUSDA  === */
/* ================ */

.first-pic
{
	
	float:right;
	margin-top:-2em;
}

/* ================ */

.align-center
{
	text-align:center;
}
/* ================ */

.float-left , .left-column
{
	float:left !important;
	width:49% !important;
}

.float-right , .right-column
{
	float:right !important;
	width:49%  !important;
}
/* ================ */
.fullscreen
{
	z-index:1000 !important;
	position:fixed !important;
	top:0;
	left:0;
	width:100% !important;
 	height:100% !important;

	background: #fff url(pics/background-main.png) top left no-repeat;

	text-align:center;
	margin-left:-1.65em;

}

.fullscreen h1
{
	display:none;
}

.rotulo
{
	font-size:800%;
	text-align:center;
	margin-top:-0.05em;
	 
}

.rotulo2
{
	font-size:200%;
	text-align:center;
	font-weight:bolder;
	margin-top:-0.05em;
	 
}

.align-center img
{
	margin:auto;
	text-align:center;
	margin:0;
}

/* ========================= */
/* === TABLAS === */
/* ========================= */

table
{
	background:url(pics/table-background.png) bottom left repeat-x #fff;
	margin-right:1em;
	font-size:70%;
	border:1px solid #d2d7cf !important;
	border-spacing: 0;
	text-align:center;
}

table td
{
	padding:0.5em;
	font-size:90%;
	border:1px solid #d2d7cf !important;
	border-spacing: 0;
	text-align:center;
}

th
{
	background:url(pics/table-header.png) bottom left repeat-x #000;
	color:#fff;
}

th a
{
	color:#fff !important;
}



table caption
{
	margin-bottom:1em;
	margin-top:1em;
	margin-left:-7em;

 
}

.description {
    margin-bottom: 1em;
    border-bottom: 1px solid #dddddd;
}

display-none
{
	display:none;
}

/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 */

.contentinfo {
    display: none;
}

