* {
    font-face: Arial, Sans-Serif;
}

br:before,
caption:before,
p:before,
ul:before,
ol:before,
.address:before,
.authors:before,
.date:before,
.legend:before,
h2:before,
h3:before,
h4:before,
h5:before,
hr:before {
    display: block;
    font-size: 12px;
    color: #888888;
    font-family: Arial, Sans-Serif;
}

.pdf-download:before {
    font-size: 12px;
}

caption:before { content: "Caption: "}
br:before { content: "Linebreak"}
h2:before { content: "Heading (1) " }
h3:before { content: "Heading (2) " }
h4:before { content: "Heading (3) " }
h5:before { content: "Heading (4) " }
ol:before { content: "Ordered list " }
ul:before { content: "Unordered list " }
p:before { content: "Paragraph" }
.address:before { content: "Address" }
.legend:before { content: "Legend" }
.pdf-download:before { content: "(PDF Download: "}
.pdf-download:after{ content: ")"}
.authors:before { content: "Authors" }
.date:before { content: "Date" }

/* inline stuff */
.footnoteText:before { 
    font-family: Arial, Sans-Serif;
    color:  #888888;
    font-size: 12px;
    content: "(Footnote: ";
}

.reference-table:before { 
    font-family: Arial, Sans-Serif;
    color:  #888888;
    font-size: 12px;
    content: "(table reference: "; 
}

.reference-heading:before { 
    font-family: Arial, Sans-Serif;
    color:  #888888;
    font-size: 12px;
    content: "(Structure reference: "; 
}

.reference-image:before { 
    font-family: Arial, Sans-Serif;
    color:  #888888;
    font-size: 12px;
    content: "(Image reference: "; 
}

.reference-listitem:before { 
    font-family: Arial, Sans-Serif;
    color:  #888888;
    font-size: 12px;
    content: "(List-item reference: "; 
}

.footnoteText:after,                          
.reference-listitem:after,
.reference-heading:after,
.reference-table:after,
.reference-image:after {
    font-family: Arial, Sans-Serif;
    content: ")";
}
